# Crystal
/lib/
/bin/
/.shards/
*.dwarf

# For me
testapp

# Hwaro build cache
.hwaro_cache.json

# Hwaro docs
docs/public

# Hwaro benchmark
benchmark

# stb compiled object
src/ext/stb_impl.o

# macOS
.DS_Store
