<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>hwaro</id>
    <version>__VERSION__</version>
    <title>Hwaro (Static Site Generator)</title>
    <authors>hahwul</authors>
    <copyright>hahwul</copyright>
    <projectUrl>https://hwaro.hahwul.com</projectUrl>
    <iconUrl>https://raw.githubusercontent.com/hahwul/hwaro/main/docs/static/hwaro.png</iconUrl>
    <projectSourceUrl>https://github.com/hahwul/hwaro</projectSourceUrl>
    <packageSourceUrl>https://github.com/hahwul/hwaro/tree/main/packaging/chocolatey</packageSourceUrl>
    <licenseUrl>https://github.com/hahwul/hwaro/blob/main/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <docsUrl>https://hwaro.hahwul.com</docsUrl>
    <bugTrackerUrl>https://github.com/hahwul/hwaro/issues</bugTrackerUrl>
    <tags>static-site-generator ssg markdown blog website crystal cli</tags>
    <summary>A lightweight and fast static site generator written in Crystal.</summary>
    <description>Hwaro is a lightweight and fast static site generator written in Crystal, with Markdown content, Jinja2-compatible templates, parallel and incremental builds, search, feeds, and a live-reload dev server.</description>
    <releaseNotes>https://github.com/hahwul/hwaro/releases/tag/v__VERSION__</releaseNotes>
  </metadata>
  <files>
    <file src="tools\chocolateyinstall.ps1" target="tools" />
  </files>
</package>
