---
name: Homebrew tap Publish
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  homebrew-releaser:
    runs-on: ubuntu-latest
    name: homebrew-releaser
    steps:
      - name: Release Hwaro to Homebrew tap
        uses: Justintime50/homebrew-releaser@v3
        with:
          homebrew_owner: hahwul
          homebrew_tap: homebrew-hwaro
          formula_folder: Formula
          github_token: ${{ secrets.HWARO_PUBLISH_TOKEN }}
          commit_owner: hahwul
          commit_email: hahwul@gmail.com
          depends_on: |
            "crystal"
          install: |
            system "shards install"
            system "shards build --release --no-debug --production"
            bin.install "bin/hwaro"
          test: system "{bin}/hwaro", "version"
          update_readme_table: false
          ignore_warnings: true
          skip_commit: false
          debug: false
